body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(64, 58, 62), rgb(190, 88, 105));
}
a{
  text-decoration: none;
  color: black;
}